#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.main-content {
  width: 100%;
}

/* .app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
