.global-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 2rem 20px;
  background-color: #19181A;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.global-header-logo {
  width: 100%;
  margin-bottom: 2rem;
}

.global-header-bottom-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.global-header-nav {
  flex: 1;
  padding-left: 0;
  margin-left: 0;
}

.global-header-title {
  flex: 0 0 auto;
}

